<section id="wrapper" class="skewed" #wrapper (mousemove)="onMouseMove($event)">
  <div class="layer bottom">
    <div class="content-wrap">
      <div class="content-body">
        <h1>Look Sharp</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
          perferendis quos quia qui culpa praesentium, quasi sapiente omnis!
          Tenetur, veritatis?
        </p>
      </div>
      <img src="assets/images/day12/image1.png" alt="Bottom image">
    </div>
  </div>

  <div class="layer top">
    <div class="content-wrap">
      <div class="content-body">
        <h1>Stay Cool</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
          perferendis quos quia qui culpa praesentium, quasi sapiente omnis!
          Tenetur, veritatis?
        </p>
      </div>
      <img src="assets/images/day12/image2.png" alt="Bottom image">
    </div>
  </div>

  <div class="handle"></div>
</section>
