.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.profile-img {
  margin: 0 16px;
  width: 45px;
  height: 45px;
  position: relative;
  transition: transform 100ms ease-in-out;
}

.profile-img:hover, .profile-img:focus {
  transform: scale(1.1);
  outline: none;
}

.profile-img::after {
  --pulse-color: #999;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}

.profile-img:hover::after, .profile-img:focus::after {
  background: var(--pulse-color, #1b218f);
  z-index: 1;
  animation: pulse 1250ms infinite;
}

// .profile-img-nav:focus {
//   outline: none;
// }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}

.profile-img img {
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.side-nav-toggle {
  margin-left: 16px;
  cursor: pointer;
  z-index: 20;
  width: 30px;
  height: 100%;
  display: grid;
  place-items: center;
  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }
}

.side-nav-toggle.open {
  .hamburger {
    transform: rotate(45deg);
  }
  .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }
  .hamburger::before {
    opacity: 0;
  }
}

.side-nav-menu {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.95);
  padding-top: 60px;
  overflow: auto;
  transition: transform 200ms linear;
}

@media only screen and (max-width: 767px) {
  .side-nav-menu {
    width: 60%;
  }
}

.side-nav-menu.open {
  // display: block;
  transform: translateX(0);
}

.side-nav-menu-list {
  padding: 0;
}

.side-nav-menu-item {
  list-style-type: none;
  height: 50px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: all 0.2s;
}

.side-nav-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.2rem;
}

.side-nav-menu-item a {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  color: inherit;
}
