<div class="grid-container">
  <div class="main-grid">
    <div class="grid-element grid-image">
      <img src="https://picsum.photos/400/200" />
    </div>
    <div class="grid-element grid-content">
      <div class="grid-title">
        <h1 class="grid-heading">Pizza Fiesta</h1>
        <div class="grid-tag grid-tag-1">#Vegetarian</div>
        <div class="grid-tag grid-tag-2">#Italian</div>
      </div>
      <div class="grid-description">
        <span
          >Yummy Yummy Pizza with tasty olives, crisp peppers, fresh arugula and
          original italian tomato sauce.</span
        >
      </div>
      <div class="grid-details">
        <p class="grid-detail">800 kcal</p>
        <p class="grid-detail">30 min</p>
        <p class="grid-detail">4.7 / 5</p>
      </div>
    </div>
    <div class="grid-element grid-price">
        <span>$11.99</span>
        <!-- $11.99 -->
    </div>
  </div>
</div>
