<header class="hero">
  <div class="container spacing">
    <h1 class="primary-title">Amazing shoes at an amazing price</h1>
    <p>
      Lorem ipsum dolor <a href="#" data-tool-tip="this is a tool tip">sit amet</a> consectetur adipisicing elit. Iure, sequi
      molestias eligendi eius nobis consequatur neque dolorem facilis dolores
      consequuntur?
    </p>
    <a href="#" class="btn">See what we have</a>
    <a [routerLink]="'/home'" class="btn">Go Home</a>
  </div>
</header>
<main>
  <section class="featured">
    <div class="container">
      <h2 class="section-title">Featured Products</h2>
      <div class="split">
        <a href="#" class="featured__item">
          <img src="assets/images/day13/shoe-4.png" alt="" class="featured__img" />
          <p class="featured__details"><span class="price">$99</span>shoe name</p>
        </a>
        <a href="#" class="featured__item">
          <img src="assets/images/day13/shoe-5.png" alt="" class="featured__img" />
          <p class="featured__details"><span class="price">$99</span>shoe name</p>
        </a>
        <a href="#" class="featured__item">
          <img src="assets/images/day13/shoe-6.png" alt="" class="featured__img" />
          <p class="featured__details"><span class="price">$99</span>shoe name</p>
        </a>
      </div>
    </div>
  </section>

  <section class="our-products">
    <div class="container">
      <h2 class="section-title">Our Products</h2>
      <article class="product shoe-red spacing">
        <img src="assets/images/day13/shoe-1.png" alt="" class="product__image" />
        <h3 class="product__title">A really nice shoe</h3>
        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus qui facere quo quis quaerat cumque enim soluta voluptate perspiciatis!</p>
        <a href="" class="btn">Buy now</a>
      </article>
      <article class="product shoe-white spacing">
        <img src="assets/images/day13/shoe-2.png" alt="" class="product__image" />
        <h3 class="product__title">A really nice shoe</h3>
        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus qui facere quo quis quaerat cumque enim soluta voluptate perspiciatis!</p>
        <a href="" class="btn">Buy now</a>
      </article>
      <article class="product shoe-blue spacing">
        <img src="assets/images/day13/shoe-3.png" alt="" class="product__image" />
        <h3 class="product__title">A really nice shoe</h3>
        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus qui facere quo quis quaerat cumque enim soluta voluptate perspiciatis!</p>
        <a href="" class="btn">Buy now</a>
      </article>
    </div>
  </section>
</main>
