<div class="flexbox-container">
  <div class="main-flexbox">
    <div class="flex-element flex-image">
      <img src="https://picsum.photos/400/250" />
    </div>
    <div class="flex-element flex-content">
      <div class="flex-title">
        <h1 class="flex-heading">Pizza Fiesta</h1>
        <div class="flex-tag flex-tag-1">#Vegetarian</div>
        <div class="flex-tag flex-tag-2">#Italian</div>
      </div>
      <div class="flex-description">
        <span
          >Yummy Yummy Pizza with tasty olives, crisp peppers, fresh arugula and
          original italian tomato sauce.</span
        >
      </div>
      <div class="flex-details">
          <p class="flex-detail">800 kcal</p>
          <p class="flex-detail">30 min</p>
          <p class="flex-detail">4.7 / 5</p>
      </div>
    </div>
    <div class="flex-element flex-price">$11.99</div>
  </div>
</div>
