<div class="content" role="main">
  <!-- Highlight Card -->
  <h1 class="page__heading">100 Days UI Challenge</h1>
  <!-- Resources -->
  <h2>Day Wise Links</h2>
  <p>Click on each link to view the screens</p>

  <div class="card-container">
    <a
      class="card"
      [routerLink]="navElement.path"
      [state]="{ showHeader: navElement.showHeader }"
      *ngFor="let navElement of navList"
    >
      <span>{{ navElement.name }}</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>
</div>
